:root {
  --primary: #8c522d;
  --secondary: #c16804;
  --third: #d3b49f;
  --text: #421404;
}

body {
  font-family: "Oswald";
  background-color: var(--secondary);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0%;
}

/* Navbar */

.box {
  border-radius: 10px;
  background-color: var(--primary);
  padding: 0.5rem;
  margin-top: 1rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5%;
}

.circle {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
}

.box2 {
  border-radius: 10px;
  background-color: var(--primary);
  box-shadow: 0 0 10px black;
  padding: 5rem;
  height: 5%;
  margin: 5%;
}

.content-box {
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menubar {
  color: var(--text);
  position: absolute;
  top: 6.5%;
  left: -100%;
  margin-left: 5%;
  background-color: var(--primary);
  width: 15rem;
  height: 50vh;
  transition: 0.3s;
}

.menubar.active {
  left: 0%;
}

.menubar a {
  display: block;
}

.obj {
  color: var(--text);
}
